* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* dark and light theme mode */
:root {
  --color-bg: #ffffff;
  --color-fg: #000000;
}
@media (prefers-color-scheme: dark) {
  :root {
    --colr-bg: rgba (0, 0, 0, 0, 0.8);
    --color-fg: #ffffff;
  }
}
body {
  height: 100vh;
  padding: 1rem 7vw;
  font-family: Arial, Helvetica, "Oswald", sans-serif;
  position: relative;
  background-color: var(--colr-bg);
  color: var(--color-fg);
}
/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 2rem;
}
nav {
  display: flex;
  gap: 1.5rem;
}

nav li {
  list-style: none;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
}
nav li a {
  text-decoration: none;
  color: black;
}

/* hero section */
.hero {
  /* display: flex;
  justify-content: center; */
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 8rem 0 0;
}

/* left hero page */
.hero-msg {
  /* width: 100%; */
  padding: 0 0.5rem;
}

.hero-img-wrapper img {
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* inset: 0; */
}

.big_hero_msg {
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.75rem;
}

.small_hero_msg {
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 1.35rem;
}
button {
  background: #9e7666;
  border: 1px solid transparent;
  border-radius: 1000px;
  padding: 1rem 4rem;
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 1.25rem;
  margin-top: 4rem;
}

/* right hero page */
.hero-pics {
  padding: 0 0.5rem;
}

.person-image img {
  position: absolute;
  top: 0;
  max-width: 100%;
}
